$color-dark-charcoal: #333333;
$color-charleston-green:#272b33;
$color-white: #ffffff;
$color-bright-gray: #eeeeee;
$color-green-lizard: #b2df28;
$color-dark-jungle-green: #22201B;
$color-dark-liver: #494C54;
$color-turquoise-surf: #03b5cc;
$color-smokey-topaz: #90220c;
$color-auro-metal-saurus: #6c757d;