@import '../../../assets/styles/main.scss';
.card{
    background-color: $color-dark-charcoal;
    box-shadow: none;
    color: $color-auro-metal-saurus;
}
.card-ribbon{
    background-color: $color-turquoise-surf;
}
.card-ribbon-chapter{
    top:5px
}
.card-container{
    &__name{
        margin-top:20px
    }
}